<p style="color: green"><%= notice %></p>
<p>
  <%= link_to "Home", root_path %>
</p>
<h1>Flights</h1>

<%= form_with url: flights_path, method: :get do |f| %>
  <%= f.label :departure_airport_id, "Departing Airport:" %>
  <%= select_tag :departure_airport_id, options_from_collection_for_select(@airports, :id, :name, params[:departure_airport_id]), include_blank: true %>
  
  <%= f.label :arrival_airport_id, "Arrival Airport:" %>
  <%= select_tag :arrival_airport_id, options_from_collection_for_select(@airports, :id, :name, params[:arrival_airport_id]), include_blank: true %>
  
  <%= submit_tag "Search" %>
<% end %>


<div id="flights">
  <% @flights.each do |flight| %>
    <%= render flight %>
    <p>
      <%= link_to "Show this flight", flight %>
    </p>
  <% end %>
</div>
